In [1]:
    # Used to fetch crypto data from the DB
    # this is then used by the Flask app to expose the data as an API

In [2]:
    # Imports
import pandas as pd
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.7f' % x)
import pymongo
import dns.resolver
from secrets import password
from secrets import user

In [3]:
  # Initialize PyMongo to work with MongoDBs
conn = f'mongodb+srv://{user}:{password}@cluster0.yicgz.mongodb.net/Crypto_vs_Market?retryWrites=true&w=majority'
client = pymongo.MongoClient(conn)

In [4]:
#Define database and collection
db = client.Crypto_vs_Market
collection= db.crypto_history
collection1= db.VIX
collection2= db.Dollar
collection3= db.Gold
collection4= db.SnP

In [5]:
# Display crypto history items in MongoDB collection as a pandas dataframe
listings = db.crypto_history.find()

df = pd.DataFrame(list(db.crypto_history.find()))

df

                           _id      Name Symbol                Date        High         Low        Open       Close              Volume           Marketcap
0     6056bf5b0f307147bcff79d5   Bitcoin    BTC 2013-04-30 04:59:00 147.4880066 134.0000000 134.4440002 144.5399933           0.0000000  1603768865.0000000
1     6056bf5b0f307147bcff79d6   Bitcoin    BTC 2013-05-01 04:59:00 146.9299927 134.0500031 144.0000000 139.0000000           0.0000000  1542813125.0000000
2     6056bf5b0f307147bcff79d7   Bitcoin    BTC 2013-05-02 04:59:00 139.8899994 107.7200012 139.0000000 116.9899979           0.0000000  1298954594.0000000
3     6056bf5b0f307147bcff79d8   Bitcoin    BTC 2013-05-03 04:59:00 125.5999985  92.2818985 116.3799973 105.2099991           0.0000000  1168517495.0000000
4     6056bf5b0f307147bcff79d9   Bitcoin    BTC 2013-05-04 04:59:00 108.1279984  79.0999985 106.2500000  97.7500000           0.0000000  1085995169.0000000
...                        ...       ...    ...                 ...         ...         ...         ...         ...                 ...                 ...
7750  6056bfec0f307147bcff981b  Litecoin    LTC 2021-02-24 05:59:59 208.3696697 159.6846732 208.1234069 176.9349152 10944696471.8999996 11773563802.9099998
7751  6056bfec0f307147bcff981c  Litecoin    LTC 2021-02-25 05:59:59 189.1654593 169.7890089 176.9667688 181.3785013  7205360251.7500000 12070508501.0499992
7752  6056bfec0f307147bcff981d  Litecoin    LTC 2021-02-26 05:59:59 204.7438417 176.0321453 181.3854223 178.9018429  7327999233.1899996 11904886775.7999992
7753  6056bfec0f307147bcff981e  Litecoin    LTC 2021-02-27 05:59:59 182.0758439 163.2482484 179.1285188 170.3981532  7875998385.9499998 11340299605.6499996
7754  6056bfec0f307147bcff981f  Litecoin    LTC 2021-02-28 05:59:59 179.9298716 167.9087891 170.4314231 172.1004473  4991079436.6300001 11454859535.9799995

[7755 rows x 10 columns]

In [6]:
# Display VIX items in MongoDB collection as a pandas dataframe
listings = db.VIX.find()

df1 = pd.DataFrame(list(db.VIX.find()))

df1

                           _id                   Name Symbol                Date       High        Low       Open      Close    Volume  Marketcap  Adj Close
0     6059656cf3292431e0249b22  CBOE Volatility Index    VIX 2013-04-30 05:00:00 14.2800000 13.5100000 13.7100000 13.5200000 0.0000000  0.0000000 13.5200000
1     6059656cf3292431e0249b23  CBOE Volatility Index    VIX 2013-05-01 05:00:00 14.6700000 13.8700000 13.8800000 14.4900000 0.0000000  0.0000000 14.4900000
2     6059656cf3292431e0249b24  CBOE Volatility Index    VIX 2013-05-02 05:00:00 14.4800000 13.5800000 14.4800000 13.5900000 0.0000000  0.0000000 13.5900000
3     6059656cf3292431e0249b25  CBOE Volatility Index    VIX 2013-05-03 05:00:00 13.1500000 12.7700000 12.9200000 12.8500000 0.0000000  0.0000000 12.8500000
4     6059656cf3292431e0249b26  CBOE Volatility Index    VIX 2013-05-06 05:00:00 13.1900000 12.6600000 13.0600000 12.6600000 0.0000000  0.0000000 12.6600000
...                        ...                    ...    ...                 ...        ...        ...        ...        ...       ...        ...        ...
1982  6059656cf3292431e024a2e0  CBOE Volatility Index    VIX 2021-03-15 05:00:00 21.8600010 19.8700010 21.8400000 20.0300010 0.0000000  0.0000000 20.0300010
1983  6059656cf3292431e024a2e1  CBOE Volatility Index    VIX 2021-03-16 05:00:00 20.3099990 19.3300000 20.1399990 19.7900010 0.0000000  0.0000000 19.7900010
1984  6059656cf3292431e024a2e2  CBOE Volatility Index    VIX 2021-03-17 05:00:00 20.9500010 19.1800000 20.1000000 19.2300000 0.0000000  0.0000000 19.2300000
1985  6059656cf3292431e024a2e3  CBOE Volatility Index    VIX 2021-03-18 05:00:00 22.6000000 18.9500010 18.9500010 21.5800000 0.0000000  0.0000000 21.5800000
1986  6059656cf3292431e024a2e4  CBOE Volatility Index    VIX 2021-03-19 05:00:00 23.1700000 19.9000000 21.4300000 20.9500010 0.0000000  0.0000000 20.9500010

[1987 rows x 11 columns]

In [7]:
# Display Gold items in MongoDB collection as a pandas dataframe
listings = db.Gold.find()

df2 = pd.DataFrame(list(db.Gold.find()))

df2

                           _id                        Name  Symbol                Date         High          Low         Open        Close        Volume  Marketcap    Adj Close
0     60596802f3292431e024a2e5  Gold-Price-Linked Exchange  1328.T 2013-04-30 05:00:00 4215.0000000 4140.0000000 4160.0000000 4150.0000000 13420.0000000  0.0000000 4150.0000000
1     60596802f3292431e024a2e6  Gold-Price-Linked Exchange  1328.T 2013-05-01 05:00:00 4160.0000000 4115.0000000 4140.0000000 4130.0000000 11770.0000000  0.0000000 4130.0000000
2     60596802f3292431e024a2e7  Gold-Price-Linked Exchange  1328.T 2013-05-02 05:00:00 4105.0000000 4060.0000000 4105.0000000 4070.0000000 21650.0000000  0.0000000 4070.0000000
3     60596802f3292431e024a2e8  Gold-Price-Linked Exchange  1328.T 2013-05-07 05:00:00 4190.0000000 4140.0000000 4185.0000000 4140.0000000 48080.0000000  0.0000000 4140.0000000
4     60596802f3292431e024a2e9  Gold-Price-Linked Exchange  1328.T 2013-05-08 05:00:00 4135.0000000 4100.0000000 4110.0000000 4110.0000000 15680.0000000  0.0000000 4110.0000000
...                        ...                         ...     ...                 ...          ...          ...          ...          ...           ...        ...          ...
1944  60596803f3292431e024aa7d  Gold-Price-Linked Exchange  1328.T 2021-03-15 05:00:00 4815.0000000 4790.0000000 4800.0000000 4795.0000000 39160.0000000  0.0000000 4795.0000000
1945  60596803f3292431e024aa7e  Gold-Price-Linked Exchange  1328.T 2021-03-16 05:00:00 4835.0000000 4810.0000000 4810.0000000 4835.0000000 32240.0000000  0.0000000 4835.0000000
1946  60596803f3292431e024aa7f  Gold-Price-Linked Exchange  1328.T 2021-03-17 05:00:00 4835.0000000 4805.0000000 4815.0000000 4820.0000000 14360.0000000  0.0000000 4820.0000000
1947  60596803f3292431e024aa80  Gold-Price-Linked Exchange  1328.T 2021-03-18 05:00:00 4870.0000000 4845.0000000 4850.0000000 4850.0000000 21140.0000000  0.0000000 4850.0000000
1948  60596803f3292431e024aa81  Gold-Price-Linked Exchange  1328.T 2021-03-19 05:00:00 4815.0000000 4795.0000000 4815.0000000 4815.0000000 29610.0000000  0.0000000 4815.0000000

[1949 rows x 11 columns]

In [8]:
# Display Dollar items in MongoDB collection as a pandas dataframe
listings = db.Dollar.find()

df3 = pd.DataFrame(list(db.Dollar.find()))

df3

                           _id       Name Symbol                Date       High        Low       Open      Close    Volume  Marketcap  Adj Close
0     60596c27f3292431e024aa82  US Dollar     DX 2016-05-02 05:00:00 93.0700000 92.5400010 93.0199970 92.6299970 0.0000000  0.0000000 92.6299970
1     60596c27f3292431e024aa83  US Dollar     DX 2016-05-03 05:00:00 92.9899980 91.9199980 92.5999980 92.9400020 0.0000000  0.0000000 92.9400020
2     60596c27f3292431e024aa84  US Dollar     DX 2016-05-04 05:00:00 93.3600010 92.8499980 92.9800030 93.1800000 0.0000000  0.0000000 93.1800000
3     60596c27f3292431e024aa85  US Dollar     DX 2016-05-05 05:00:00 93.8600010 93.1699980 93.2200010 93.7799990 0.0000000  0.0000000 93.7799990
4     60596c27f3292431e024aa86  US Dollar     DX 2016-05-06 05:00:00 93.9599990 93.2799990 93.7399980 93.8899990 0.0000000  0.0000000 93.8899990
...                        ...        ...    ...                 ...        ...        ...        ...        ...       ...        ...        ...
1213  60596c28f3292431e024af3f  US Dollar     DX 2021-03-15 05:00:00 91.9700010 91.5400010 91.6600040 91.8300020 0.0000000  0.0000000 91.8300020
1214  60596c28f3292431e024af40  US Dollar     DX 2021-03-16 05:00:00 92.0299990 91.6800000 91.8300020 91.8700030 0.0000000  0.0000000 91.8700030
1215  60596c28f3292431e024af41  US Dollar     DX 2021-03-17 05:00:00 92.0000000 91.3700030 91.8600010 91.4000020 0.0000000  0.0000000 91.4000020
1216  60596c28f3292431e024af42  US Dollar     DX 2021-03-18 05:00:00 91.9000020 91.3000030 91.4000020 91.8499980 0.0000000  0.0000000 91.8499980
1217  60596c28f3292431e024af43  US Dollar     DX 2021-03-19 05:00:00 92.1699980 91.6600040 91.8300020 91.9199980 0.0000000  0.0000000 91.9199980

[1218 rows x 11 columns]

In [9]:
# Display SnP items in MongoDB collection as a pandas dataframe
listings = db.SnP.find()

df4 = pd.DataFrame(list(db.SnP.find()))

df4

                           _id             Name Symbol                Date         High          Low         Open        Close          Volume  Marketcap    Adj Close
0     60596de6f3292431e024af44   E-Mini S&P 500     ES 2013-04-30 05:00:00 1594.2500000 1581.2500000 1588.5000000 1592.2500000 1555013.0000000  0.0000000 1592.2500000
1     60596de6f3292431e024af45   E-Mini S&P 501     ES 2013-05-01 05:00:00 1595.5000000 1576.0000000 1593.7500000 1577.2500000 1467806.0000000  0.0000000 1577.2500000
2     60596de6f3292431e024af46   E-Mini S&P 502     ES 2013-05-02 05:00:00 1594.2500000 1578.7500000 1579.2500000 1592.2500000 1652820.0000000  0.0000000 1592.2500000
3     60596de6f3292431e024af47   E-Mini S&P 503     ES 2013-05-03 05:00:00 1614.2500000 1589.5000000 1592.2500000 1608.5000000 1936845.0000000  0.0000000 1608.5000000
4     60596de6f3292431e024af48   E-Mini S&P 504     ES 2013-05-06 05:00:00 1615.2500000 1607.2500000 1608.2500000 1613.5000000  963963.0000000  0.0000000 1613.5000000
...                        ...              ...    ...                 ...          ...          ...          ...          ...             ...        ...          ...
1982  60596de7f3292431e024b702  E-Mini S&P 2482     ES 2021-03-15 05:00:00 3969.7500000 3922.2500000 3945.7500000 3967.5000000 1295099.0000000  0.0000000 3967.5000000
1983  60596de7f3292431e024b703  E-Mini S&P 2483     ES 2021-03-16 05:00:00 3980.5000000 3952.7500000 3967.0000000 3962.5000000  887247.0000000  0.0000000 3962.5000000
1984  60596de7f3292431e024b704  E-Mini S&P 2484     ES 2021-03-17 05:00:00 3983.7500000 3935.2500000 3967.5000000 3974.0000000  520411.0000000  0.0000000 3974.0000000
1985  60596de7f3292431e024b705  E-Mini S&P 2485     ES 2021-03-18 05:00:00 3988.7500000 3911.0000000 3972.0000000 3916.5000000  335435.0000000  0.0000000 3916.5000000
1986  60596de7f3292431e024b706  E-Mini S&P 2486     ES 2021-03-19 05:00:00 3934.2500000 3908.0000000 3923.7500000 3912.6201170 2047619.0000000  0.0000000 3912.6201170

[1987 rows x 11 columns]